@import "_variables";

.navbar {
  display: none;
}

.cabecalho {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("../img/FotoBG1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .logo-img {
    position: relative;
    top: 8vh;
    left: 8vw;
  }

  .links {
    position: relative;
    top: 8vh;
    left: 8vw;
    a {
      text-decoration: none;
      border: 1px solid $gold;
      border-radius: 20px;
      padding: 8px 15px;
      margin-right: 5%;
      color: $glacial;
      font-family: "Darwin";
      font-size: 15px;
      font-weight: lighter;
    }
  }
}
